*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../IMG/photo-1614850523011-8f49ffc73908.avif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formulario input{
    font-size: 18px;
    height: 35px;
    border: 1px solid white;
    border-width: 2px 1px 1px 2px;
    border-radius: 5px;
    background-color: transparent;
    color: #fffbfb;
}
.formulario input::placeholder{
    color: #fffbfb;
    padding: 0px 10px;
}
.formulario button{
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-width: 2px 1px 1px 2px;
    border-radius: 5px;
    color: #fffbfb;
    font-size: 15px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}
.formulario h1{
    font-size: 50px;
    text-align: center;
    margin: 15px;
    color: #fffbfb;
}
.logo{
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 140px; 
    color: #fffbfb; 
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 500px;
    padding: 10px 25px;
}
nav ul{
    display: flex;
    gap: 140px;
    list-style: none;   
    margin: 0;
    padding: 0;
}
nav ul li{
    position: relative;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: color 0.2s;
    font-size: 20px;
    position: relative;
}

nav li::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    bottom: -5px;
    left: 0;
    color: white;
    position: absolute; 
    transition: width 0.7s ease-in-out;
}

nav li:hover::after{
    width: 100%;
}
.voltar{
    color: #fffbfb;
    text-decoration: none;
    text-align: center;
}